<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 Media Device Access</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    button, video, img {
      max-width:100%;
    }
    #vidDisplay {
      object-fit: initial;
      width: 128px;
      height: 128px;
    }
    #container {
      margin: 0px auto;
      width: 128px;
      height: 128px;
      border: 7px #FF0000 solid;
      overflow: hidden;
      display: block;
    }
  </style>
</head>
<body>
<button onclick="takeSnapshot()">Translate</button>
<div id="container">
  <video id="vidDisplay" autoplay></video><br>
</div>
<div style="text-align: center">
  <h2 id="translation">translate from top left</h2>
</div>

<script>  
  'use strict';
  
  var video = document.querySelector('video');
  var slider = document.getElementById('zoomRange');
  // create the actual video
  if (navigator.mediaDevices) {
    navigator.mediaDevices.getUserMedia({video: true})
      .then(function(stream) { 
        video.srcObject = stream;
      })
      .catch(function(error) {
        document.body.textContent = error;
      });
  }

  /**
    * takes pic from video
    */
  function takeSnapshot() {
    var img = document.querySelector('img') || document.createElement('img');
    var width = video.videoWidth;
    var height = video.videoHeight;

    var canvas = canvas || document.createElement('canvas');
    canvas.width = 128;
    canvas.height = 128;
    var context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, 128, 128);

    var arr = new Array(128);
    for (var i = 0; i < arr.length; i++) { 
      arr[i] = new Array(128); 
    } 

    for(var h = 0; h < canvas.height; h++){
      for(var w = 0; w < canvas.width; w++){
         var data = context.getImageData(w,h,1,1).data;
         console.log(w + ", " + h);
         var avg = Math.round((data[0] + data[1] + data[2]) / 3);
         //console.log(data[0]);
         //console.log(data[1]);
         //console.log(data[2]);
         console.log(avg);
         arr[h][w] = avg;
         console.log("______________");
      }
    }
    
    console.log(arr);


    var data = "";
    var d1 = [];
    for (var i = 0; i < 128; i++) { 
      for (var j = 0; j < 128; j++) { 
        data += arr[i][j]; 
        data += " ";
        d1.push(arr[i][j]);
      } 
      data += "\n"; 
    } 

    var req = new XMLHttpRequest();
        
    var translation = document.getElementById('translation');
    req.onreadystatechange = function()
    {
      if(this.readyState == 4 && this.status == 200) {
        translation.innerHTML = "output: " + this.responseText;
      } 
      /*else {
        translation.innerHTML = "output pending.....";
      }*/
    }

    req.open('POST', '/', true);
    req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
    req.send("data=" + arr); // can pass arr (2d array) or data (string) d1 = 1d array

    
    
  }
</script>
</body>
</html>