<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 Media Device Access</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    button, video, img {
      max-width:100%;
    }
    #vidDisplay {
      margin: 0px auto;
      overflow: hidden;
      display: block;
    }
    #container {
      margin: 0px auto;
      width: 640px;
      height: 350px;
      border: 10px #FF0000 solid;
      overflow: hidden;
      display: block;
    }
  </style>
</head>
<body>
<button onclick="takeSnapshot()">Translate</button>
<div id="container">
  <video autoplay></video><br>
</div>

<script>
  'use strict';
  var video = document.querySelector('video');
  var slider = document.getElementById('zoomRange');
  // create the actual video
  if (navigator.mediaDevices) {
    navigator.mediaDevices.getUserMedia({video: true})
      .then(function(stream) { 
        video.srcObject = stream;
      })
      .catch(function(error) {
        document.body.textContent = error;
      });
  }

  /**
    * takes pic from video
    */
  function takeSnapshot() {
    var img = document.querySelector('img') || document.createElement('img');
    var width = video.videoWidth;
    var height = video.videoHeight;

    var canvas = canvas || document.createElement('canvas');
    canvas.width = width;
    canvas.height = height;
    var context = canvas.getContext('2d');
    context.drawImage(video, 0, 0, width, height);

    // for(var h = 0; h < width/20; h++){
    //   for(var w = 0; w < height/20; w++){
    //     var data = context.getImageData(w,h,1,1).data;
    //     console.log(w + ", " + h);
    //     console.log(data[0]);
    //     console.log(data[1]);
    //     console.log(data[2]);
    //     console.log("______________");
    //   }
    // }
    
    img.src = canvas.toDataURL('image/png');
    document.body.appendChild(img);
  }
</script>
</body>
</html>